[Unit]
Description=pihole
Requires=network.target
After=network-online.target

[Service]
TimeoutStartSec=300
RestartSec=3
Restart=always
ExecStartPre=-/usr/bin/podman stop -t 2 pihole
ExecStartPre=-/usr/bin/podman rm -f pihole
ExecStartPre=/usr/bin/podman pull  {{_pihole_image_repo}}/{{_pihole_image_name}}:{{_pihole_image_version}}  
ExecStart=/usr/bin/podman run \
                          --name pihole \
                          -p 53:53/tcp \
                          -p 53:53/udp \
                          -p 67:67 \
                          -p 80:80 \
                          -p 443:443 \
                          -e TZ={{_timezone}} \
                          -e ADMIN_EMAIL={{_mail_address}} \
                          -e WEBPASSWORD={{_pihole_password}} \
                          -e DNS1="8.8.8.8" \
                          -e DNS1="8.8.4.4" \
                          -e ServerIP={{_ip_address}} \
                          -v "/var/lib/pihole/etc-pihole/:/etc/pihole/" \
                          -v "/var/lib/pihole/etc-lighttpd/external.conf:/etc/lighttpd/external.conf" \
                          -v "/var/lib/pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/" \
                          --dns=127.0.0.1 \
                          --dns=192.168.1.254 \
                          --privileged \
                          {{_pihole_image_name}}:{{_pihole_image_version}}

ExecStop=-/usr/bin/podman stop -t 2 pihole
ExecStopPost=-/usr/bin/podman rm -f pihole
 
[Install]
WantedBy=multi-user.target default.target


