[Unit]
Description=mongo

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill mongo
ExecStartPre=-/usr/bin/podman rm mongo
ExecStartPre=-/usr/bin/podman pull mongo:{{ mongo_image_version | default('3.2') }}

ExecStartPre=/usr/bin/podman run \
    --name mongo \
    -e MONGO_INITDB_ROOT_USERNAME={{ mongo_root_username | default('root') }} \
    -e MONGO_INITDB_ROOT_PASSWORD={{ mongo_root_password | default('password') }} \
    -v /data/mongo/db:/data/db \
    -v /data/mongo/dump:/data/dump \
    --net=rocketchat_default \
    mongo:{{ mongo_image_version | default('3.2') }} \
    mongod --smallfiles --oplogSize 128 --replSet rs0 --storageEngine=mmapv1

ExecStop=-/usr/bin/podman kill mongo
ExecStop=-/usr/bin/podman rm mongo
