[Unit]
Description=rocketchat
Requires=mongo.service
After=mongo.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill rocketchat
ExecStartPre=-/usr/bin/podman rm rocketchat
ExecStartPre=-/usr/bin/podman pull rocketchat/rocket.chat:latest

ExecStart=/usr/bin/podman run \
    --name rocketchat \
    -e MONGO_OPLOG_URL=mongodb://mongo:27017/local \
    -e MONGO_URL=mongodb://mongo27017/rocketchat \
    -e MONGO_INITDB_ROOT_USERNAME={{ mongo_root_username | default("root") }} \
    -e MONGO_INITDB_ROOT_PASSWORD{{ mongo_root_password | default("password") }} \
    -v /data/rockerchat/uploads:/app/uploads \
    --net=rocketchat_default \
    --expose 3000 \
    rocketchat/rocket.chat:latest

ExecStop=-/usr/bin/podman kill rocketchat
ExecStop=-/usr/bin/podman rm rocketchat
