[Unit]
Description=rocketchat
Requires=mongo.service
After=mongo.service

[Service]
Restart=always
TimeoutStartSec=0
ExecStartPre=-/usr/bin/podman kill rocketchat
ExecStartPre=-/usr/bin/podman rm rocketchat
ExecStartPre=-/usr/bin/podman pull rocketchat/rocket.chat:latest

ExecStart=/usr/bin/podman run \
    --name rocketchat \
    -e MONGO_URL=mongodb://{{ mongo_root_username }}:{{ mongo_root_password }}@mongo:27017/rocketchat?replicaSet=rs01&authSource={{ mongo_root_user }} \
    -e MONGO_OPLOG_URL=mongodb://{{ mongo_root_user }}:{{ mongo_root_password}}@mongo:27017/local?replicaSet=rs01&authSource={{ mongo_root_password }} \
    -e ROOT_URL=http://192.168.43.226 \
    -v /data/rockerchat/uploads:/app/uploads \
    --net=rocketchat_default \
    --expose 3000 \
    rocketchat/rocket.chat:latest

ExecStop=-/usr/bin/podman kill rocketchat
ExecStop=-/usr/bin/podman rm rocketchat
