[Unit]
Description=Letsencrypt swag
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/%n-pid  \
                              --cidfile /%t/%n-cid \
                              -d \
                              --name=letsencrypt-swag \
                              --cap-add=NET_ADMIN \
                              -e PUID={{item.uid}} \
                              -e PGID={{item.groups}} \
                              -e TZ={{_timezone}} \
                              -e URL={{_letsencrypt_domain}} \
                              -e SUBDOMAINS=wildcard \
                              -e VALIDATION=duckdns \
                              -e DUCKDNSTOKEN={{_duckdns_token}} \
                              -e EMAIL={{_mail_address}} \
                              -e STAGING={{_letsencrypt_staging}} \
                              -p 30080:80 \
                              -p 30443:443 \
                              -v /var/lib/letsencrypt:/config:z \
                              --restart unless-stopped \
                              docker.io/linuxserver/swag:{{_letsencrypt_image_tag}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

