
[Unit]
Description=dump1090exporter
After=network-online.target
Wants=network.target

[Service]
Restart=on-failure
RestartSec=10s
ExecStartPre=-/usr/bin/podman rm dump1090exporter
ExecStart=/usr/bin/podman run --name=dump1090exporter \
                              --restart unless-stopped \
                              -e TZ={{_timezone}} \
                              -p 9105:9105 \
                              flightawareadsb/dump1090exporter:{{_dump1090exporter_image_tag}} \
                              --url=http://localhost:8080/dump1090-fa 
                              --debug

ExecStop=-/usr/bin/podman stop -t 2 dump1090exporter
ExecStopPost=/usr/bin/podman rm dump1090exporter

[Install]
WantedBy=multi-user.target

