global
    log         127.0.0.1 local2
    maxconn     4000
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

frontend portal
   bind *:8443 ssl crt /{{ inventory_hostname }}-crt-key.pem ssl-min-ver TLSv1.2
   default_backend piaware

backend piaware
   http-request add-header X-Forwarded-Proto "https" if { ssl_fc }
   option forwardfor
   mode http
   server master0 0.0.0.0:80 check
