APP_NAME = {{_gitea_properties.appname|default('gitea')}}
RUN_MODE = prod
RUN_USER = {{_gitea_properties.run_user}}

[repository]
ROOT                        = /data/git/repositories
ENABLE_PUSH_CREATE_USER     = true
DEFAULT_PUSH_CREATE_PRIVATE = false

[repository.local]
LOCAL_COPY_PATH = /data/gitea/tmp/local-repo

[repository.upload]
TEMP_PATH = /data/gitea/uploads

[server]
APP_DATA_PATH    = /data/gitea
DOMAIN           = {{_gitea_properties.domain|default('localhost')}}
SSH_DOMAIN       = {{_gitea_properties.sshdomain|default('localhost')}}
HTTP_PORT        = {{_gitea_properties.ui_port|default('3000')}}
PROTOCOL         = https
ROOT_URL         = https://{{_gitea_properties.domain|default('localhost')}}:{{_gitea_properties.ui_port|default('3000')}}/
DISABLE_SSH      = false
SSH_PORT         = {{_gitea_properties.ssh_port|default('2222')}}
SSH_LISTEN_PORT  = {{_gitea_properties.ssh_port|default('2222')}}
START_SSH_SERVER = false
LFS_START_SERVER = true
LFS_CONTENT_PATH = /data/git/lfs
LFS_JWT_SECRET   = {{_gitea_lfs_jwt_secret}}
OFFLINE_MODE     = false
CERT_FILE        = /data/gitea/conf/fullchain.pem
KEY_FILE         = /data/gitea/conf/privkey.pem

[database]
PATH     = /data/gitea/gitea.db
DB_TYPE  = postgres
HOST     = {{_gitea_properties.db_host|default('postges-gitea')}}:{{_gitea_properties.db_port|default('5432')}}
NAME     = {{_gitea_properties.db_name|default('giteadb')}}
USER     = {{_gitea_properties.db_user|default('giteadb')}}
PASSWD   = {{lookup('vars',_gitea_properties.password_var)|default('giteadb')}}
SCHEMA   = 
SSL_MODE = disable
CHARSET  = utf8

[indexer]
ISSUE_INDEXER_PATH = /data/gitea/indexers/issues.bleve

[session]
PROVIDER_CONFIG = /data/gitea/sessions
PROVIDER        = file

[picture]
AVATAR_UPLOAD_PATH            = /data/gitea/avatars
REPOSITORY_AVATAR_UPLOAD_PATH = /data/gitea/repo-avatars
DISABLE_GRAVATAR              = false
ENABLE_FEDERATED_AVATAR       = true

[attachment]
PATH = /data/gitea/attachments

[log]
ROOT_PATH = /data/gitea/log
MODE      = file
LEVEL     = info

[security]
INSTALL_LOCK   = true
SECRET_KEY     = {{_gitea_secret_key}}
INTERNAL_TOKEN = {{_gitea_internal_token}}
PASSWORD_COMPLEXITY = off

[service]
DISABLE_REGISTRATION              = flase
REQUIRE_SIGNIN_VIEW               = false
REGISTER_EMAIL_CONFIRM            = true
ENABLE_NOTIFY_MAIL                = true
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.{{_gitea_properties.domain|default('localhost')}}

[oauth2]
JWT_SECRET = {{_gitea_jwt_secret}}

[mailer]
ENABLED = true
HOST    = {{_mail_hubhost}}:{{_mail_hubport}}
FROM    = {{_mail_address}}
USER    = {{_mail_address}}
PASSWD  = {{_mail_password}}

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = false

