[Unit]
Description=gitea
Wants=network.target,postgres-gitea.service
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run \
      --conmon-pidfile /%t/%n-pid  \
      --cidfile /%t/%n-cid \
      -d \
      --name=gitea \
      --network {{item.podman_network|default('gitea')}} \
      -p "3000:{{item.ui_port|default('3000')}}" \
      -p "222:22" \
      -e APP_NAME={{item.appname|default("gitea")}} \
      -e DOMAIN={{item.domain|default('localhost')}} \
      -e SSH_DOMAIN={{item.sshdomain|default('localhost')}} \
      -e DISABLE_REGISTRATION=true \
      -e USER_UID={{item.uid}} \
      -e USER_GID={{item.gid}} \
      -e DB_TYPE=postgres \
      -e DB_HOST={{item.db_host|default('postgres-gitea')}}:{{item.db_port|default('5432')}} \
      -e DB_NAME={{item.db_name|default('giteadb')}} \
      -e DB_USER={{item.db_user|default('giteadb')}} \
      -e DB_PASSWD={{lookup('vars',item.password_var)|default('giteadb')}} \
      -v /var/lib/gitea:/data:z \
      -v /etc/localtime:/etc/localtime:ro \
      --restart unless-stopped \
      docker.io/gitea/gitea:{{_gitea_image_tag}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking


