[Unit]
Description=gitea
Wants=network.target,postgres-gitea.service
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run \
      --conmon-pidfile /%t/%n-pid  \
      --cidfile /%t/%n-cid \
      -d \
      --name=gitea \
      --network {{_gitea_properties.podman_network|default('gitea')}} \
      -p "{{_gitea_properties.ui_port|default('3000')}}:{{_gitea_properties.ui_port|default('3000')}}" \
      -p "{{_gitea_properties.ssh_port|default('2222')}}:{{_gitea_properties.ssh_port|default('2222')}}" \
      -e APP_NAME={{_gitea_properties.appname|default("gitea")}} \
      -e DOMAIN={{_gitea_properties.domain|default('localhost')}} \
      -e SSH_DOMAIN={{_gitea_properties.sshdomain|default('localhost')}} \
      -e HTTP_PORT={{_gitea_properties.ui_port|default('3000')}} \
      -e SSH_LISTEN_PORT={{_gitea_properties.ssh_port|default('2222')}} \
      -e DISABLE_REGISTRATION=true \
      -e USER_UID={{_gitea_properties.uid}} \
      -e USER_GID={{_gitea_properties.gid}} \
      -e DB_TYPE=postgres \
      -e DB_HOST={{_gitea_properties.db_host|default('postgres-gitea')}}:{{_gitea_properties.db_port|default('5432')}} \
      -e DB_NAME={{_gitea_properties.db_name|default('giteadb')}} \
      -e DB_USER={{_gitea_properties.db_user|default('giteadb')}} \
      -e DB_PASSWD={{lookup('vars',_gitea_properties.password_var)|default('giteadb')}} \
      -e PASSWORD_COMPLEXITY=off \
      -v /var/lib/gitea:/data:z \
      -v /etc/localtime:/etc/localtime:ro \
      --restart unless-stopped \
      docker.io/gitea/gitea:{{_gitea_image_tag}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking


