[Unit]
Description=gitea
Wants=network.target,gitea-db.service
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run \
      --conmon-pidfile /%t/%n-pid  \
      --cidfile /%t/%n-cid \
      -d \
      --name=gitea \
      --network gitea \
      -p "3000:3000" \
      -p "222:22" \
      -e APP_NAME={{_gitea_appname|default("gitea")}} \
      -e DOMAIN={{_gitea_domain|default('localhost')}} \
      -e SSH_DOMAIN={{_gitea_sshdomain|default('localhost')}} \
      -e DISABLE_REGISTRATION=true \
      -e USER_UID=1033 \
      -e USER_GID=1033 \
      -e DB_TYPE=postgres \
      -e DB_HOST=db:5432 \
      -e DB_NAME=gitea \
      -e DB_USER=gitea \
      -e DB_PASSWD={{_giteadb_password|default('gitea')}} \
      -v /var/lib/gitea:/data:z \
      -v /etc/localtime:/etc/localtime:ro \
      --restart unless-stopped \
      docker.io/gitea/gitea:{{_gitea_image_tag}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

