[
  {
    "targets": [ {% for host in _nodeexporternodes %}{% if loop.last %}"{{ host }}:9100"{% else %}"{{ host }}:9100",{% endif %}{% endfor %} ],
    "labels": {
      "env": "fedora"
    }
  }
]

