[Unit]
Description=Jenkins
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/%n-pid  \
                              --cidfile /%t/%n-cid \
                              -d \
                              --name=jenkins \
                              -p 8080:8080 \
                              -p 50000:50000 \
                              -v jenkins-data:/var/jenkins_home \
                              -v jenkins-docker-certs:/certs/client:ro \
                              --restart unless-stopped \
                              docker.io/jenkins4eval/jenkins:{{_jenkins_image_tag}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

