[Unit]
Description=Jenkins
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/%n-pid  \
                              --cidfile /%t/%n-cid \
                              -d \
                              --name=jenkins \
                              -p 8443:8443 \
                              -p 50000:50000 \
                              -v /var/lib/jenkins/data:/var/jenkins_home:z \
                              -v /var/lib/jenkins/certs:/certs:z \
                              --restart unless-stopped \
                              {{_image_registry_url}}{{_jenkins_image.image}}-{{_architecture}}

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

