[Unit]
Description=php ldap admin
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStart=/usr/bin/podman run --conmon-pidfile /%t/%n-pid  \
                              --cidfile /%t/%n-cid \
                              -d \
                              --name=phpldapadmin \
                              -p 6443:443 \
                              --network openldap \
                              -v /var/lib/openldap/certs:/container/service/phpldapadmin/assets/apache2/certs:z \
                              --restart unless-stopped \
                              -e PHPLDAPADMIN_LDAP_HOSTS=ldap.bachstraat20.duckdns.org \
                              -e PHPLDAPADMIN_HTTPS_CRT_FILENAME=fullchain.pem \
                              -e PHPLDAPADMIN_HTTPS_KEY_FILENAME=privkey.pem \
                              -e PHPLDAPADMIN_HTTPS_CA_CRT_FILENAME=ca-bundle.crt \
                              docker.io/osixia/phpldapadmin:{{_phpldapadmin_image_tag}} \
                              --loglevel debug

ExecStop=/usr/bin/sh -c "/usr/bin/podman rm -f `cat /%t/%n-cid`"
PIDFile=/%t/%n-pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

