
[Unit]
Description=raspberry pwm fan control
After=network-online.target
Wants=network.target

[Service]
Restart=on-failure
RestartSec=10s
ExecStartPre=-/usr/bin/podman rm raspberryfan
ExecStart=/usr/bin/podman run --name=raspberryfan \
                              -v /var/lib/node_exporter:/var/lib/node_exporter:z \
                              --device=/dev/gpiochip0 \
                              --restart unless-stopped \
                              localhost/gpio \
                              /usr/bin/python /src/fan.py \
                              --node-exporter \
                              --min-temp={{_raspberryfan_min_temp}} \
                              --max-temp={{_raspberryfan_max_temp}} \
                              --fan-low={{_raspberryfan_fan_low}} \
                              --fan-high={{_raspberryfan_fan_high}} \
                              --wait-time={{_raspberryfan_wait_time}} \
                              --pwm-gpio=18 \
                              --pwm-freq=10000 

ExecStop=-/usr/bin/podman stop -t 2 raspberryfan
ExecStopPost=/usr/bin/podman rm raspberryfan

[Install]
WantedBy=multi-user.target

