alertmanager:
  interval: 60s
  servers:
    - name: local
      uri: http://{{hostvars[groups['alertmanager'][0]]['_alertmanager_fqdn']}}:9093
      timeout: 10s
      readonly: false
annotations:
  default:
    hidden: false
  hidden:
    - help
  visible: []
debug: false
#filters:
#  default:
#    - "@receiver=by-cluster-service"
karma:
  name: karma
labels:
  color:
    static:
      - job
    unique:
      - cluster
      - instance
      - "@receiver"
  keep: []
  strip: []
listen:
  address: "0.0.0.0"
  port: 8080
  prefix: /
log:
  config: false
  level: info
silences:
  comments:
    linkDetect:
      rules:
        - regex: "(DEVOPS-[0-9]+)"
          uriTemplate: https://jira.example.com/browse/$1
receivers:
  keep: []
  strip: []
silenceForm:
  strip:
    labels:
      - job
ui:
  refresh: 30s
  hideFiltersWhenIdle: true
  colorTitlebar: false
  minimalGroupWidth: 420
  alertsPerGroup: 5
  collapseGroups: collapsedOnMobile
