# my global config
global:
  scrape_interval:     15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
  evaluation_interval: 15s # Evaluate rules every 15 seconds. The default is every 1 minute.
  # scrape_timeout is set to the global default (10s)..

# Alertmanager configuration..
alerting:
  alertmanagers:
  - static_configs:
    - targets:
       - {{_alertmanager_hostname}}:9093

# Load rules once and periodically evaluate them according to the global 'evaluation_interval'.
rule_files:
  - /etc/prometheus/rules/*.yml
  # - "second_rules.yml"

# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'prometheus'

    # metrics_path defaults to '/metrics'
    # scheme defaults to 'http'.

    static_configs:
    - targets: ['localhost:9090']

  - job_name: node_exporters_https
    scheme: https
    basic_auth:
      username: prometheus
      password: "{{ _node_exporter_auth_pass }}"
    tls_config:
      ca_file: /etc/ssl/certs/ca-certificates.crt
      insecure_skip_verify: true
    file_sd_configs:
      - files:
        - /etc/prometheus/targets/*.yml

  - job_name: node_exporters_postgres
    file_sd_configs:
      - files:
        - /etc/prometheus/targetsPostgres/*.yml

  - job_name: 'blackbox-200'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for target in _blackbox_http_2xx_targets %}
         - "{{ target }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{_blackbox_hostname}}:9115

  - job_name: 'blackbox-nodeexporter-200'
    metrics_path: /probe
    params:
      module: [http_nodeexporter_2xx]
    static_configs:
      - targets:
{% for target in _blackbox_http_nodeexporter_2xx_targets %}
         - "{{ target }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{_blackbox_hostname}}:9115

  - job_name: 'tower'
    #tls_config:
    #    insecure_skip_verify: True
    metrics_path: /api/v2/metrics
    scrape_interval: 5s
    scheme: https
    #bearer_token: <token_value>
    basic_auth:
        username: admin
        password: {{_awx_password}}
    static_configs:
        - targets:
            - {{_awx_hostname}}
